

.main-page-side-bar {
    float: left;
    width: 20%;
    background-color: rgb(154, 179, 182) !important;
    height: 100vh;
    /*border-style: solid;*/
    /*border-color: black;*/
}

.main-page-admin {
    float: right;
    width: 79.5% !important;
    height: 100vh;
    margin-left: 3px;
    /*border-style: solid;*/
    /*border-color: brown;*/
}

